<!DOCTYPE html>
<html>
<head>
  <title> grocerie </title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
  <div ng-app="grocerie">
    <app></app>
  </div>
  <script>
  angular.module('grocerie', [])
  .controller('appCtrl', function ($scope, $http) {
    $scope.storage = {items: [], listId: null}  // items: [{name: itemName, status: isBought}, ...]
    $scope.savedLists = {}  // Preferred data structure: {listId: status}

    $scope.add = function () {
      $scope.storage.items.push({name: $scope.item, status: false})
      $scope.item = ''
    }

    $scope.getList = function (listName) {
      $http({
        url: '/query',
        method: 'GET',
        params: {listName: listName}
      }).then(function (response) {
        console.log(response)
      })
    }

    $scope.save = function () {
      /* Triggers a POST request to server. Server's handler for this request should write list to storage.
      */
      $scope.storage.listId = prompt('Name your list:')
      $http({
        url: '/',
        method: 'POST',
        data: JSON.stringify($scope.storage)
      }).then(function (response) {
        $scope.savedLists[response.data] = false
        $scope.storage.items = []
      })
    }

    $scope.toggleStatus = function (item) {
      item.status = !item.status
    }
  })
  .directive('app', function () {
    return {
      template: `
        <h1> Grocery list </h1>
        <div ng-controller="appCtrl">
          <app-form></app-form>
          <app-list items="storage.items"></app-list>

          <h3> Saved lists </h3>
          <saved-list items="savedLists" on-click="getList"></saved-list>

          <h3> List details </h3>

        </div>
      `
    }
  })
  .directive('appForm', function () {
    return {
      template: `
        <form>
          <input type="text" ng-model="item"/>
          <button ng-click="add()"> Add to list </button>
          <button ng-click="save()"> Save for later </button>
        </form>
      `
    }
  })
  .directive('appList', function () {
    return {
      scope: {
        items: '<'
      },
      template: `
        <ul>
          <li ng-repeat="item in items">
            {{item.name}}
          </li>
        </ul>
      `
    }
  })
  .directive('savedList', function () {
    return {
      scope: {
        items: '<',
        onClick: '<'
      },
      template: `
        <ul>
          <li ng-repeat="(item, status) in items" ng-click="onClick(item)">
            {{item}}
          </li>
        </ul>
      `
    }
  })
  </script>
</body>
</html>